.ct_headline {
    display: flex;
    align-items: center;
    gap: 32px;
}

.ct_content {
    display: flex
}

.ct_text {}

.ct_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ct_input {
    padding: 15px 25px 15px 25px;
    width: 617px;
    border: 1px solid;
    border-color: #9747FF;
    border-radius: 10px;
    background: none;
    color: white;
    margin-bottom: 32px;
}

input::placeholder {
    color: white;
}

textarea {
    resize: none;
    height: 202px;
}

textarea::placeholder {
    color: white;
}

.check_box {
    display: flex;
}

.box {
    width: 18px;
    margin-right: 8px;
}

.ct_send_button{
    margin-top: 16px;
    cursor: pointer;
}