body {
    margin: 0;
    background: #141D2F;
    font-family: Poppins;
}

.atf {
    display: flex;
    align-items: center;
}

.atf_left {
    height: 700px;
    display: flex;
}

.atf_right {
    display: flex;
    flex-direction: column;
    color: white;
}

.atf_text{
    display: flex;
}

.atf_button{
    justify-content: center;
    display: flex;
}

.i_am {
    transform: rotate(-90deg);
    font-size: 64px;
    display: flex;
    align-items: center;
    margin-right: -16px;
}

.name_job {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: -32px;
}

.dev {
    font-size: 58px;
    color: #9747FF !important;
}

.btn_lets_talk {
    display: inline-block;
}

.btn_lets_talk img {
    height: 58px;
    width: auto;
    display: block;
}